WebSiteAgenda/Service References/WcfServiceAgenda/ServiceAgenda2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1318/ServiceAgenda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PlanningElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
      <xs:element minOccurs="0" name="MonEvement" nillable="true" type="tns:Evenement" />
      <xs:element minOccurs="0" name="MonLieu" nillable="true" type="tns:Lieu" />
      <xs:element minOccurs="0" name="NbPlacesReservees" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanningElement" nillable="true" type="tns:PlanningElement" />
  <xs:complexType name="Evenement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artistes" nillable="true" type="tns:ArrayOfArtiste" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarif" type="xs:float" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evenement" nillable="true" type="tns:Evenement" />
  <xs:complexType name="ArrayOfArtiste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artiste" nillable="true" type="tns:Artiste" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtiste" nillable="true" type="tns:ArrayOfArtiste" />
  <xs:complexType name="Artiste">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDeNaissance" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artiste" nillable="true" type="tns:Artiste" />
  <xs:complexType name="Lieu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodePostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePlacesTotal" type="xs:int" />
      <xs:element minOccurs="0" name="Pays" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PourcentageCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lieu" nillable="true" type="tns:Lieu" />
</xs:schema>