WebSiteAgenda/Service References/WcfServiceAgenda/ServiceAgenda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAgenda" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1318/ServiceAgenda.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1318/ServiceAgenda.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1318/ServiceAgenda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAgenda" />
      <xsd:import schemaLocation="http://localhost:1318/ServiceAgenda.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAgenda.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAgenda_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllArtistes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArtistes" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllArtistes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArtistesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllLieux_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLieux" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllLieux_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLieuxResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllPlanningElements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlanningElements" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllPlanningElements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlanningElementsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceAgenda_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAgenda">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetData" message="tns:IServiceAgenda_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetDataResponse" message="tns:IServiceAgenda_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetDataUsingDataContract" message="tns:IServiceAgenda_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetDataUsingDataContractResponse" message="tns:IServiceAgenda_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArtistes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllArtistes" message="tns:IServiceAgenda_GetAllArtistes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllArtistesResponse" message="tns:IServiceAgenda_GetAllArtistes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllEvents" message="tns:IServiceAgenda_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllEventsResponse" message="tns:IServiceAgenda_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLieux">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllLieux" message="tns:IServiceAgenda_GetAllLieux_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllLieuxResponse" message="tns:IServiceAgenda_GetAllLieux_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanningElements">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllPlanningElements" message="tns:IServiceAgenda_GetAllPlanningElements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllPlanningElementsResponse" message="tns:IServiceAgenda_GetAllPlanningElements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllUsers" message="tns:IServiceAgenda_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/GetAllUsersResponse" message="tns:IServiceAgenda_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAgenda/CreateUser" message="tns:IServiceAgenda_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAgenda/CreateUserResponse" message="tns:IServiceAgenda_CreateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAgenda" type="tns:IServiceAgenda">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArtistes">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetAllArtistes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLieux">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetAllLieux" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlanningElements">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetAllPlanningElements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceAgenda/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAgenda">
    <wsdl:port name="BasicHttpBinding_IServiceAgenda" binding="tns:BasicHttpBinding_IServiceAgenda">
      <soap:address location="http://localhost:1318/ServiceAgenda.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>